@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http;
@using E_Invitation.Helpers;
<!-- partial -->
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };

</script>
<head>
    <style>
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
</head>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">

                <div class="col-12">
                    @{
                        User Logins = SessionHelper.GetObjectFromJson<User>(Context.Session, "User");
                    }
                    @*<h3 class="font-weight-bold">Welcome @if (Logins != null)@Logins.UserName</h3>*@
                     <h3 class="font-weight-bold" style="text-align: center;margin-top: -16px;"><b><u>ACTIVE EVENTS</u></b> </h3>
                </div>

            </div>
        </div>
    </div>

    @if (Logins.TypeId == 1)
    {
        @*
            <div class="row " id="Mainrpt">
            <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-people mt-auto">
            <div class="row">

            <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
            <div class="ml-xl-4 mt-3">
            <div class="text-right mb-2" style="color:black">
            @Html.DropDownList("OcassionFilterId", new SelectList(ViewBag.AllOcassion, "Id", "OcassionName"), new { @class = "form-control" })
            </div>
            <div class="text-right mb-2" style="color:black">

            <select class="form-control form-control-sm" required id="UserId">
            </select>
            </div>

            <p class="card-title">Vacancy Detailed Reports</p>
            <h1 class="text-primary totalvec"></h1>
            <h3 class="font-weight-500 mb-xl-4 text-primary">Total Vacancy</h3>

            </div>
            </div>
            <div class="col-md-12 col-xl-12">
            <div class="row">
            <div class="col-md-12 border-right">
            <div class="table-responsive mb-3 mb-md-0 mt-3">
            <table class="table table-borderless report-table" id="tblDataReport">

            </table>
            </div>
            </div>

            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            </div>*@


        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        @*  <p class="card-title">Advanced Table</p>*@
                        <div class="row">
                            <div class="col-2">
                                </div>
                            <div class="col-8">
                                <div class="table-responsive">
                                    <table class="table border border-purple table-striped"  style="width:100%" style="text-align: center;">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th>S/No</th>
                                                <th>Event Name</th>
                                                <th>Date</th>

                                                <th>Status</th>

                                              
                                            </tr>
                                            @{
                                                int rowNo = 0;                               //for sr.no
                                            }

                                        </thead>
                                        <tbody>
                                            @foreach (var item in (IEnumerable<E_Invitation.Models.Ocassion>)ViewBag.AllOcassion)
                                           
                                {
                                                if (item.Id != -1)
                                                {
                                                    <tr class="text-center">
                                                        <td>
                                                            @(rowNo += 1)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OcassionName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OcassionDate)
                                                        </td>
                                                        @*   <td>
                                                            @Html.Raw((item.IsFinish) ?"Closed":"Active")

                                                            </td>*@
                                                        <td>
                                                            @if (item.IsActive == 0)
                                                            {
                                                                <h5>Deactive</h5>
                                                            }
                                                            else
                                                            {
                                                                <h5>Active</h5>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-2">
                                </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }
    else if (Logins.TypeId == 2)
    {
        @*  <img src='../images/1.jpg' width=100>*@
        <div class="col-md-12 grid-margin transparent">
            <div class="row">
                <span id="UserId1" class="d-none">@Logins.Id</span>

                @foreach (var item in (IEnumerable<E_Invitation.Models.Ocassion>)ViewBag.AllOcassion)
                {
                   @* Random rnd = new Random();
                    string hexOutput = String.Format("{0:X}", rnd.Next(0, 0xFFFFFF));
                    while (hexOutput.Length < 6)
                        hexOutput = "0" + hexOutput;
                    hexOutput = "#" + hexOutput;*@

                    if (item.Id != 0 && item.Id != -1)
                    {
                        <div class="col-md-2 mb-1 mb-lg-0 stretch-card transparent ">
                            <div class="card mb-4" id="events" style="background-color:#002366 ; color:white">
                                <div class="card-body ">
                                    <p class="mb-1 badge" style="color:#fff">@item.OcassionDate.ToShortDateString()</p>
                                    <p class="fs-10 mb-1 badge" style="color:#fff">@item.OcassionName</p>
                                    @if (item.IsLock == true)
                                    {
                                        <p class="badge" style="color:#fff">No Vacancies</p>
                                    }
                                    else
                                    {
                                        <p class="badge" style="color:#fff">Vacancies Exists</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                @*<div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                    <div class="card-body">
                    <p class="mb-4">Number of Clients</p>
                    <p class="fs-30 mb-2">47033</p>
                    <p>0.22% (30 days)</p>
                    </div>
                    </div>
                    </div>*@

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-1">
                            <div class="">
                                <h4 class="card-title">Vacancy Plan</h4>
                                @*  Total <span id="lblTotal" class="ml-3 border border-secondary b px-2 py-1"></span>*@
                            </div>

                            <div class="text-right" style="color:black">
                                @Html.DropDownList("OcassionFilterId", new SelectList(ViewBag.AllOcassion, "Id", "OcassionName"), new { @class = "form-control" })
                            </div>
                            <div>
                                <button type="button" id="btnstatus" class="btn btn-secondary">Finalise</button>
                                <button type="button" id="btnstatus1" class="btn btn-light d-none" disabled>Finalised</button>


                            </div>
                            <div>
                                @*<button class="btn btn-primary" id="Passgen">Generate Pass</button>*@
                                <button class="btn alert-info d-none" id="Passgen">Generate Pdf</button>

                            @*    <a href="Home/DownloadZip" target="_blank" class="btn btn-success"> Generate and Download pdf Zip</a>*@

                                @*<a href="" target="_blank" class="btn alert-info d-none" id="EnclosurePass">Enclosure Pass</a>*@
                            </div>
                        </div>
                        <div class="table-responsive mb-3 mb-md-0 mt-3">
                            <div class="table-responsive">

                                <table class="table table-bordered " id="tblData">
                                </table>

                            </div>
                        </div>
                        <div class="table-responsive mb-3 mb-md-0 mt-3">
                            <div class="table-responsive">

                                <table class="table table-bordered " id="tblRData">
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    @*<div class="row">
        <div class="col-md-4 stretch-card grid-margin">
        <div class="card">
        <div class="card-body">
        <p class="card-title mb-0">Projects</p>
        <div class="table-responsive">
        <table class="table table-borderless">
        <thead>
        <tr>
        <th class="pl-0  pb-2 border-bottom">Places</th>
        <th class="border-bottom pb-2">Orders</th>
        <th class="border-bottom pb-2">Users</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="pl-0">Kentucky</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>
        <td class="text-muted">65</td>
        </tr>
        <tr>
        <td class="pl-0">Ohio</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">54</span>(3.25%)</p></td>
        <td class="text-muted">51</td>
        </tr>
        <tr>
        <td class="pl-0">Nevada</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">22</span>(2.22%)</p></td>
        <td class="text-muted">32</td>
        </tr>
        <tr>
        <td class="pl-0">North Carolina</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">46</span>(3.27%)</p></td>
        <td class="text-muted">15</td>
        </tr>
        <tr>
        <td class="pl-0">Montana</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">17</span>(1.25%)</p></td>
        <td class="text-muted">25</td>
        </tr>
        <tr>
        <td class="pl-0">Nevada</td>
        <td><p class="mb-0"><span class="font-weight-bold mr-2">52</span>(3.11%)</p></td>
        <td class="text-muted">71</td>
        </tr>
        <tr>
        <td class="pl-0 pb-0">Louisiana</td>
        <td class="pb-0"><p class="mb-0"><span class="font-weight-bold mr-2">25</span>(1.32%)</p></td>
        <td class="pb-0">14</td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
        <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
        <p class="card-title">Charts</p>
        <div class="charts-data">
        <div class="mt-3">
        <p class="mb-0">Data 1</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="progress progress-md flex-grow-1 mr-4">
        <div class="progress-bar bg-inf0" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mb-0">5k</p>
        </div>
        </div>
        <div class="mt-3">
        <p class="mb-0">Data 2</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="progress progress-md flex-grow-1 mr-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mb-0">1k</p>
        </div>
        </div>
        <div class="mt-3">
        <p class="mb-0">Data 3</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="progress progress-md flex-grow-1 mr-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mb-0">992</p>
        </div>
        </div>
        <div class="mt-3">
        <p class="mb-0">Data 4</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="progress progress-md flex-grow-1 mr-4">
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mb-0">687</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
        <div class="card data-icon-card-primary">
        <div class="card-body">
        <p class="card-title text-white">Number of Meetings</p>
        <div class="row">
        <div class="col-8 text-white">
        <h3>34040</h3>
        <p class="text-white font-weight-500 mb-0">The total number of sessions within the date range.It is calculated as the sum . </p>
        </div>
        <div class="col-4 background-icon">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
        <div class="card">
        <div class="card-body">
        <p class="card-title">Notifications</p>
        <ul class="icon-data-list">
        <li>
        <div class="d-flex">
        <img src="images/faces/face1.jpg" alt="user">
        <div>
        <p class="text-info mb-1">Isabella Becker</p>
        <p class="mb-0">Sales dashboard have been created</p>
        <small>9:30 am</small>
        </div>
        </div>
        </li>
        <li>
        <div class="d-flex">
        <img src="images/faces/face2.jpg" alt="user">
        <div>
        <p class="text-info mb-1">Adam Warren</p>
        <p class="mb-0">You have done a great job #TW111</p>
        <small>10:30 am</small>
        </div>
        </div>
        </li>
        <li>
        <div class="d-flex">
        <img src="images/faces/face3.jpg" alt="user">
        <div>
        <p class="text-info mb-1">Leonard Thornton</p>
        <p class="mb-0">Sales dashboard have been created</p>
        <small>11:30 am</small>
        </div>
        </div>
        </li>
        <li>
        <div class="d-flex">
        <img src="images/faces/face4.jpg" alt="user">
        <div>
        <p class="text-info mb-1">George Morrison</p>
        <p class="mb-0">Sales dashboard have been created</p>
        <small>8:50 am</small>
        </div>
        </div>
        </li>
        <li>
        <div class="d-flex">
        <img src="images/faces/face5.jpg" alt="user">
        <div>
        <p class="text-info mb-1">Ryan Cortez</p>
        <p class="mb-0">Herbs are fun and easy to grow.</p>
        <small>9:00 am</small>
        </div>
        </div>
        </li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
        <p class="card-title">Advanced Table</p>
        <div class="row">
        <div class="col-12">
        <div class="table-responsive">
        <table id="example" class="display expandable-table" style="width:100%">
        <thead>
        <tr>
        <th>Quote#</th>
        <th>Product</th>
        <th>Business type</th>
        <th>Policy holder</th>
        <th>Premium</th>
        <th>Status</th>
        <th>Updated at</th>
        <th></th>
        </tr>
        </thead>
        </table>
        </div>
        </div>
        </div>
        </div>
        </div>


        </div>
        </div>*@
</div>
<!-- content-wrapper ends -->
<script src="~/DeveloperJS/Home.js"></script>

