@model E_Invitation.Models.Ocassion

@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
    <div class="row">
       <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
              <h3 class="font-weight-bold text-center"><b><u>CREATE EVENT</u></b> </h3>
        </div></div></div>
        @*<div class="col-md-4 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
            <h4 class="card-title">Create Ocassion</h4>
            <p class="card-description">
            Fill Basic Details
            </p>
            <form asp-action="Save">
            <form asp-action="Save">
            <div class="text-danger">@ViewBag.message</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
            <label asp-for="OcassionName" class="control-label"></label>
            <input asp-for="OcassionName" class="form-control" />
            <span asp-validation-for="OcassionName" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="OcassionDate" class="control-label"></label>
            <input asp-for="OcassionDate" class="form-control" />
            <span asp-validation-for="OcassionDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="IsLock" /> @Html.DisplayNameFor(model => model.IsLock)
            </label>
            </div>
            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="IsFinish" /> @Html.DisplayNameFor(model => model.IsFinish)
            </label>
            </div>
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
            </div>
            </div>
            </div>*@
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  
                   @* <h3 class="card-title text-center"><b>CREATE EVENT</b> </h3>*@
                    <div class="d-flex justify-content-between mb-3">
                        <div class="">
                            @{
                                var item1 = (IEnumerable<E_Invitation.Models.Ocassion>)ViewBag.AllData;
                            }
                            @* Total <span id="lblTotal" class="ml-3 border border-secondary b px-2 py-1">@item1.Count()</span>*@
                        </div>

                    </div>
                 
                       
                           <div class="d-flex">

                            <h3 class="card-title">Existing Events Details</h3>
                             </div>
                           <div class="d-flex justify-content-between mb-3">
                                <div class="">
                                </div>
                            <button type="button" class="btn btn-primary btn-sm" id="btnAddNew" >Create New Event</button>
                            </div>
                          
                     
                        
                        
                  
                    @*  <p class="card-description" style="text-align:center;">

                        </p>*@
                    @{
                        await Html.RenderPartialAsync("GetAll");
                    }
                </div>
            </div>
        </div>

       @**********************************Close Event**********************************@
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  
                   @* <h3 class="card-title text-center"><b>CREATE EVENT</b> </h3>*@
                    <div class="d-flex justify-content-between mb-3">
                        <div class="">
                            @{
                                var item2 = (IEnumerable<E_Invitation.Models.Ocassion>)ViewBag.AllDataCloseData;
                            }
                            @* Total <span id="lblTotal" class="ml-3 border border-secondary b px-2 py-1">@item1.Count()</span>*@
                        </div>

                    </div>
                 
                       
                           <div class="d-flex">

                            <h3 class="card-title">Closed Events Details</h3>
                             </div>
                           <div class="d-flex justify-content-between mb-3">
                                <div class="">
                                </div>
                           <br />
                            </div>
                          
                     
                        
                        
                  
                    @*  <p class="card-description" style="text-align:center;">

                        </p>*@
                    @{
                        await Html.RenderPartialAsync("GetAllClose");
                    }
                </div>
            </div>
        </div>






    </div>
</div>
<div class="modal fade" id="AddNew" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <span class="d-none" id="editid">
                @TempData["Id"]

            </span>

            <div class="modal-body p-0 h-100 custom-modal">
                <button type="button" id="submit" class="close" data-dismiss="modal">
                    &times;
                </button>
                <div class="row h-100 mr-0">
                    <div class="col-lg-3 d-none d-lg-block">
                        <div class="left-modal-block">
                            <div class="image-block">
                                <img src="/Images/notepad.png" />
                            </div>
                            <p class="text-white text-font2 mt-4">Details filled will be used for publishing on E-Cards Please fill Correctly</p>
                            <span class="btn btn-dark circle-icon-btn mt-1"><i class="mdi mdi-chevron-double-right"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="px-4 px-sm-3 pb-3 pt-4 inner-block">
                            <div class="d-flex">
                                <h3 class="modal-title text-blue mb-2" id="addModalTitle"> Add New Event</h3>
                                <span id="autofill" class="btn btn-primary text-right ml-3">AutoFill</span>
                            </div>
                            <p class="mb-3 f13"> All fields are mandatory</p>

                            <div class="">

                                <form asp-action="Save">
                                    <div class="text-danger" id="spnmessage">@ViewBag.message</div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="OcassionName" class="control-label"></label>
                                                <input asp-for="OcassionName" class="form-control" />
                                                <span asp-validation-for="OcassionName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="ChiefName" class="control-label"></label>
                                                <input asp-for="ChiefName" class="form-control" />
                                                <span asp-validation-for="ChiefName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Venue" class="control-label"></label>
                                                <input asp-for="Venue" class="form-control" />
                                                <span asp-validation-for="Venue" class="text-danger"></span>
                                            </div>
                                             <div class="form-group">
                                                <label asp-for="IssueBranch" class="control-label"></label>
                                                <input asp-for="IssueBranch" class="form-control" />
                                                <span asp-validation-for="IssueBranch" class="text-danger"></span>
                                            </div>
                                             <div class="form-group">
                                                <label asp-for="PhoneNo" class="control-label"></label>
                                                <input asp-for="PhoneNo" class="form-control" />
                                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                            </div>
                                             <div class="form-group">
                                                <label asp-for="Dress1" class="control-label"></label>
                                                <input asp-for="Dress1" class="form-control" />
                                                <span asp-validation-for="Dress1" class="text-danger"></span>
                                            </div>
                                            @*<div class="form-group form-check">
                                                <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsLock" /> @Html.DisplayNameFor(model => model.IsLock)
                                                </label>
                                                </div>
                                                <div class="form-group form-check">
                                                <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsFinish" /> @Html.DisplayNameFor(model => model.IsFinish)
                                                </label>
                                                </div>*@
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label asp-for="OcassionDate" class="control-label"></label>
                                                <input asp-for="OcassionDate" type="date" class="form-control" />
                                                <span asp-validation-for="OcassionDate" class="text-danger"></span>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label asp-for="Time" class="control-label"></label>
                                                <input asp-for="Time" class="form-control" />
                                                <span asp-validation-for="Time" class="text-danger"></span>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label asp-for="ContactName" class="control-label"></label>
                                                <input asp-for="ContactName" class="form-control" />
                                                <span asp-validation-for="ContactName" class="text-danger"></span>
                                            </div>
                                            <br />
                                             <div class="form-group">
                                                <label asp-for="ASCON" class="control-label"></label>
                                                <input asp-for="ASCON" class="form-control" />
                                                <span asp-validation-for="ASCON" class="text-danger"></span>
                                            </div>
                                           
                                             <div class="form-group">
                                                <label asp-for="Dress" class="control-label"></label>
                                                <input asp-for="Dress" class="form-control" />
                                                <span asp-validation-for="Dress" class="text-danger"></span>
                                            </div>
                                           
                                           
                                           
                                            @*<div class="form-group d-none">
                                                <label asp-for="CreatedBy" class="control-label"></label>
                                                <input asp-for="CreatedBy" class="form-control" placeholder="Enter Enclosure" />

                                                </div>
                                                <div class="form-group d-none">
                                                <label asp-for="CreatedOn" class="control-label"></label>
                                                <input asp-for="CreatedOn" class="form-control" placeholder="Enter Enclosure" />
                                                <span asp-validation-for="CreatedOn" class="text-danger"></span>
                                                </div>*@

                                        </div>
                                    </div>
                                    <div class="text-right mt-3">
                                        <button type="submit" id="btnSubmit" class="btn btn-outline-info" style="margin-top:-63px;">Submit</button>

                                        @*  <input type="button" value="Reset" id="btnReset" class="btn btn-outline-primary" />*@


                                    </div>
                                </form>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    }
<script>
    $(document).ready(function () {

        //$('body').on('click', '.btnedit', function () {
        //    //var ss = $(this).closest("tr").find(".OcassionDate").html();
        //    //alert(ss);
        //    setTimeout(function () {
        //        alert('ok');
        //    },1000); // for 5 second delay

        //});
    });
</script>